* {
    margin: 0px;
    padding: 0%;
    box-sizing: border-box;
}

body {
    /* background-color: rgb(0, 0, 0); */
    background-image: url(../img/photo_2020-07-05_15-30-52.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 0px 45px;
    display: flex;
    flex-direction: column;
}

body header a {
    text-decoration: none;
}

body header h1 {
    padding: 2px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: rgb(255, 136, 0);
    background-color: rgb(19, 19, 87);
    border-color: rgb(61, 58, 54);
}

main section article p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: left;
    padding: 20px;
    margin:10px 1000px 10px 10px;
    display: flex;
    color: rgb(151, 149, 142);    
    
}

main nav h2 {
    margin: 0px 20px;
    font-size: 30px ;
    color: rgb(223, 112, 21);
}

main nav ol li a {
    font-size: 40px;
    background-color: rgb(122, 107, 107);
    color: rgb(201, 148, 83);
    text-decoration: none;
    border-radius: 7px;
    margin: 0px 20px;
    
}
main nav ol li a:hover {
    background-color: rgb(145, 23, 23);
}

#redes {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 7px;
    font-size: 25px ;
    display: inline;
    color: rgb(223, 121, 21);
}
#redes section h3 {
    margin: 0px 20px;
}
#redes section .youtube-img img {
    margin-left: 20px;
    }

#redes section .ig-img img {
    margin-left: -4px;
}

.menu-paginas {
    display: flex;
    flex-direction: row;
}
.menu-paginas li a {
    text-decoration: none;
    background-color: rgb(124, 124, 124);
    color: rgb(236, 169, 102);
    font-size: 20px;
    border-radius: 5px;
    list-style: none;
    margin: 0px 20px;
}
.menu-paginas li a:hover {
    background-color:brown ;
}

#cancion {
    margin: 20px;
}